* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* FONTS */
@font-face {
    font-family: genera-semibold;
    src: url(/src/components/fonts/genera/Wahyu\ and\ Sani\ Co.\ -\ Genera\ SemiBold.ttf);
}

@font-face {
    font-family: genera-light;
    src: url(/src/components/fonts/genera/Wahyu\ and\ Sani\ Co.\ -\ Genera\ Alt\ Light.ttf);
}


.nav-container {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.5rem 1rem;
    left: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    z-index: 200;
}

.logo h1{
    font-family: genera-semibold;
    padding: 0 1rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #2D2E32;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: #000;
}

.nav-links h3 {
    padding: 0 1rem;
    font-family: genera-light;
    cursor: pointer;
}

.nav-container h3 {
    transition: all 0.3s;
}

.nav-container h3:hover {
    color: #147EFB;
    transition: all 0.3s;
}



.none {
    display: none;
}

.menu {
    display: none;
    cursor: pointer;
}


.menu-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 199;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    transition: all 0.3s;
}

.menu-container a {
    padding: 1.5rem 0;
}

.menuoff {
    width: 0% !important;
    transform: translateX(-100px);
    transition: all 0.3s;
}


/* MEDIA QUERIES */

@media screen and (max-width: 950px) {
    .menu {
        display: flex;
        font-size: 20px;
    }

    .nav-links {
        display: none;
    }
}

/* Mobile */

@media screen and (max-width: 700px) {
    .menu {
        font-size: 20px;
    }
    
    .nav-container {
        display: flex;
        position: fixed;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 1.5rem 1rem;
        left: 0;
        top: 0;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.09);
        z-index: 200;
    }

    .menu-container {
        top: 0;
    }
}