footer {
    background-color: #2d2e32;
}

.footer-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    color: #fff;
}

.fa {
    font-size: 2rem;
    padding-left: 1rem;
    transition: all 0.3s;
    cursor: pointer;
}

.fa:hover {
    color: #147EFB;
    transition: all 0.3s;
}