
#contactme {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 5rem 0;
}

.container-contactme {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
}

.handdown {
    width: 2rem;
    position: absolute;
}

.title-contactme {
    font-family: genera-semibold;
    line-height: 50px;
}

.title-contactme h3{
    color: #147EFB;
}

.title-contactme h1 {
    position: relative;
}

.location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}


.cc {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; 
    padding-left: 1rem;
    line-height: 28px;
}

.cc h4 {
    font-family: genera-semibold;
    font-size: 20px;
}

.cc p {
    font-family: genera-light;
    font-size: 20px;
}

.map {
    font-size: 2.4rem;
    padding: 1.2rem;
    color: #147EFB;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.links-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 2rem 0;
}

.mail {
    padding-left: 2.4rem;
}


/* MEDIA QUERIES */

@media screen and (max-width: 950px) {
    .container-contactme {
        max-width: 700px;
    }
}

/* Mobile */

@media screen and (max-width: 450px) {
    #contactme {
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 5rem 0;
    }

    .container-contactme {
        max-width: 350px;
    }

    .links-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 2rem 0;
        width: 100%;
        height: 100%;
    }

    .location {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .mail {
        padding-top: 2rem;
        padding-left: 0;
    }
}